<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form [formGroup]="form" (ngSubmit)="login()" class="p-4 shadow-sm bg-white rounded">
                <h4 class="mb-4 text-center">Login</h4>

                <div class="mb-3">
                    <label for="username" class="form-label">User Name</label>
                    <input type="username" id="username" formControlName="username" class="form-control"
                        placeholder="Enter username" />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" formControlName="password" class="form-control"
                        placeholder="Enter password" />
                </div>

                <button mat-raised-button color="primary" [disabled]="form.invalid">Login</button>
            </form>
        </div>
    </div>
</div>